@{
    ViewBag.Title = "About";
}
<style>
    body {
        background: url('../../Content/Img/Background.jpg') no-repeat center center fixed;
        background-size: cover;
    }
</style>
<div class="about-mid-layer">
    <div class="about-text">
        <h2>What does DryLightningDetector do?</h2><br />
        <p>DryLightningDetector is a tool designed for lightning photographers in mind.</p>
        <p>DryLightningDetector constantly monitors lightning strikes, and when a dry lightning is detected near the location(s) you register, you receive an alert email. You can register as many locations as you want, and modify the lightning detection radius at each of the locaiton. </p>
        <p>DryLightningDetector uses data from <a href="http://www.lightningmaps.org/realtime">lightningmaps.org</a>, an open-source lightning strike database. Due to the voluntary nature of the data-providers, the detection coverage is limited to within Europe, Noth America, New Zealand, and parts of Australia. For more details, please see <a href="http://www.lightningmaps.org/extra/coverage?lang=en&ratio=20&dist%5B150%5D=1&dist%5B500%5D=1&dist%5B2000%5D=1#cmap">their coverage map.</a></p><br />
    </div>
</div>